.ShowInfoSpoiler {
    & summary {
        color: var(--accent);
    }

    & table {
        width: 100%;

        & th:first-of-type {
            width: 12%;
        }

        & th:last-of-type {
            width: 20%;
        }
    }
}
