main #default :not(.notice) {
    text-align: center;
}

h1 {
    cursor: pointer;
    padding-top: 1rem;

    & > svg {
        fill: var(--text);
        height: 1.4em;
        width: auto;
        margin: -.3em .3em;
    }
}

